export HOSTED_ZONE_ID=<HOSTED_ZONE_ID>
# DNS domain (hosted zone in Route53) should be different than the domain used by OCP
export ROOT_DOMAIN_ID=<DNS_domain>
export GATEWAY_NS=api-gateway
export GATEWAY_NAME=external
export AWS_ACCESS_KEY_ID=<BASE_64_ENCODED_VALUE>
export AWS_SECRET_ACCESS_KEY=<BASE_64_ENCODED_VALUE>
export AWS_REGION=us-east-2
export CLUSTER_ISSUER_NAME=lets-encrypt
export EMAIL=<email_address>
export KAMEL_NS=kamel-test
export OPENID_HOST=<KEYCLOAK_HOST>
export OPENID_REALM=<KEYCLOAK_REALM_NAME>
export OPENID_USER=<KEYCLOAK_USER>
export OPENID_PASS=<KEYCLOAK_PASSWORD>
export OPENID_CLIENT=<KEYCLOAK_CLIENT>
export OPENID_CLIENT_SECRET=<KEYCLOAK_CLIENT_SECRET>
