export zid=<HOSTED_ZONE_ID>
# DNS domain (hosted zone in Route53) should be different than the domain used by OCP
export rootDomain=<DNS_domain>
export gatewayNS=api-gateway
export gatewayName=external
export devNS=toystore
export AWS_ACCESS_KEY_ID=<BASE_64_ENCODED_VALUE>
export AWS_SECRET_ACCESS_KEY=<BASE_64_ENCODED_VALUE>
export AWS_REGION=us-east-2
export clusterIssuerName=lets-encrypt
export EMAIL=<email_address>
export kamelNS=kamel-test
